@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

body {
  display: block;
  margin: 0px;
}
.result{
  color: var(--green);
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start; /* Alinha o conteúdo no início */
  align-items: flex; /* Alinha o h1 no topo */
  height: 100px; 
}

.container-calc {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #111;
}

.container h1 {
  padding: 15px;
  color: #fff;
  
}

.wrap-calc {
  width: 390px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.calc-form {
  width: 100%;
}

.calc-form-title {
  font-family: Nunito, sans-serif;
  display: block;
  font-size: 35px;
  color: azure;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.calc-form-title img {
  width: 80px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #adadad;
  font-family: Nunito, sans-serif;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left,  #b721ff);
  background: -o-linear-gradient(to left,  #b721ff);
  background: -moz-linear-gradient(to left,  #b721ff);
  background: linear-gradient(to left, #b721ff);
}

.focus-input::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  bottom: -2px;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}
.input:focus + .focus-input::after,
.input:not(:placeholder-shown) + .focus-input::after {
  top: -15px;
}

.input:placeholder-shown + .focus-input::after {
  top: 16px;
}
.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.container-calc-form-btn {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.calc-form-btn {
  font-size: 15px;
  border: none; 
  border-radius: 10px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left,  #b721ff);
  background: -o-linear-gradient(to left, #b721ff);
  background: -moz-linear-gradient(to left, #b721ff);
  background: linear-gradient(to left,  #b721ff);
}

.calc-form-btn:hover {
  cursor: pointer;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt1 {
  font-size: 14px;
  color: #adadad;
  line-height: 1.5;
  padding-right: 5px;
}

.txt2 {
  font-size: 14px;
  color: #6a7dfe;
  line-height: 1.5;
  text-decoration: none;
}

@-webkit-keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.text-success {
  color: #b721ff !important;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

h5, .h5 {
  font-size: 45px;
}

.text-white-300 {
  color: #fff !important;
}

.text-white-800 {
  color: #fff !important;
}


a.text-success:hover, a.text-success:focus {
  color: #13855c !important;
}

.text-uppercase, .dropdown .dropdown-menu .dropdown-header, .sidebar .sidebar-heading {
  text-transform: uppercase !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-xs {
  font-size: 35px;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-4, .my-4, .mb-0 {
  margin-bottom: 1.5rem !important;
}


.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}


.align-items-center {
  align-items: center !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

